.table-container {
    margin-top: 0px; /* Espacio superior */
    margin-right: 180px;
    background-color: #f8f9fa; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.table th,
.table td {
    vertical-align: middle; /* Alinear verticalmente */
}

.table th {
    background-color: #e9ecef; /* Color de fondo de los encabezados */
    color: #333; /* Color del texto */
}

.edit-button,
.delete-button {
    padding: 5px 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
}

.edit-button {
    background-color: #007bff; /* Color de fondo del botón de editar */
    color: white; /* Color del texto */
}

.delete-button {
    background-color: #dc3545; /* Color de fondo del botón de eliminar */
    color: white; /* Color del texto */
}

.edit-button:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
}

.delete-button:hover {
    background-color: #c82333; /* Color al pasar el mouse */
}
